body {
    font-size: 18px;
    font-family: consolas;
}

.hide {
    display: none;
}

.game-area {
    position: relative;
    background-color: lightskyblue;
    width:  100%;
    height: 94vh;
    margin: 0;
}

.game-start {
    position: absolute;
    width: 50%;
    background-color: greenyellow;
    top: 100px;
    left: 25%;
    z-index: 1;
    text-align: center;
    padding: 30px;

}

.game-score {
    background-color: black;
    color: white;
    text-align: center;
}

.game-over {
    position: absolute;
    width: 50%;
    background-color: rgb(255, 47, 116);
    top: 100px;
    left: 25%;
    z-index: 1;
    text-align: center;
    padding: 30px;
}

.wizard {
    z-index: 100;
    position: absolute;
    width: 82px;
    height: 100px;
    background-image: url(./images/wizard.png);
    background-size: cover;
}

.wizard-fire {
    z-index: 100;
    background-image: url(./images/wizard-fire.png);
    background-size: cover;
}
.fire-ball {
    position: absolute;
    width: 40px;
    height: 40px;
    background-image: url(./images/fire-ball.png);
    background-size: cover;
}

.cloud {
    z-index: 0;
    position: absolute;
    width: 468px;
    height: 338px;
    background-image: url(./images/pngaaa.com-369119.png);
    background-size: cover;
}
.bug {
    position: absolute;
    width: 80px;
    height: 80px;
    background-image: url(./images/kisspng-insect-ladybird-red-black-ladybug-5a817d86c545f1.9963345915184357188081.png);
    background-size: cover;
}